/* general */

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 550px;
}

/* Header */

nav { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  color: #FFF;
  background: linear-gradient(90deg, #672280, #A626D3);
}

.nav--heading {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.nav--heading--image {
  height: 26px;
  width: 31px;
}

.nav--heading--text {
  font-family: Karla, sans-serif;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: -2px;
}

.nav--subheading {
  margin-right: 37px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

